<!-- start page title -->

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Models </h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Models</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <label> Choose Validated Dataset </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <span class="input-group">
                            <label> Data Set </label>
                            &nbsp; &nbsp;
                            <select #dataset id="dataset" value="none" (change)="datasetselectonchange(dataset.value)">
                                <option value="none">Choose One</option>
                                <option value="coimbatore">Rice in Coimbatore</option>
                                <!-- <option value="thanjavur">Thanjavur</option> -->
                                 <option value="lubbock">Cotton in South Plains</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <div *ngIf="dataset.value == 'coimbatore'">
                                 <strong>Treatments:</strong> 5 cultivars, 5 planting dates, 1 irrigation practice, 1 fertilizer practice
<br><strong>Blocks:</strong> Annur, Palladam, Coimbatore North, Coimbatore South, Sulur, Tirupur North, Tirupur South.
                                &nbsp; &nbsp;
                            </div>
                            <div *ngIf="dataset.value == 'thanjavur'">
                                This dataset consists of data from Thanjavur District, TamilNadu. The crop is rice (multiple
                                varieties)
                                &nbsp; &nbsp;
                            </div>
                            <div *ngIf="dataset.value == 'lubbock'">
                                <strong>Treatments:</strong> 1 cultivar, 1 planting date, 5 irrigation practices, 4 fertilization practices<br>
                                <strong>Cities:</strong> Lubbock, Wolfforth, Shallowater, Abernathy (mostly in Hale), several unincorporated towns.
                                &nbsp; &nbsp;
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <label> Choose Location </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">    
                        <div class="col-md-12">
                        <div class="col-md-6">
                            <!-- <div *ngIf="dataset.value == 'coimbatore'"> -->
                            <input class="form-check-input" type="radio" name="locRadio" id="locRadio1"
                                value="useblockname" formControlName="blockname"
                                (change)="locradiobuttonchange($event)" >
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="locRadio1">
                                Use District Block Name
                            </label>   
                            <!--<div class="col-md-6"> -->
                            
                            &NonBreakingSpace;&NonBreakingSpace;
                            <input class="form-check-input" type="radio" name="locRadio" id="locRadio2" value="usemap"
                                formControlName="usemap" (change)="locradiobuttonchange($event)">
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="locRadio2">
                                Use Map
                            </label>
                            <!-- </div> -->
                            <!-- <div *ngIf="dataset.value == 'lubbock'">
                            <input class="form-check-input" type="radio" name="locRadio" id="locRadio2" value="usemap"
                                formControlName="usemap" (change)="locradiobuttonchange($event)">
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="locRadio2">
                                Use Map
                            </label>
                            </div> -->
                        </div>
                            
                            
                            <div class="col-md-6" *ngIf="dataset.value == 'coimbatore'">
                              <label>Facors to Predict...</label>  
                              <select #whichmodel id="whichmodel" value="yield"
                                    (change)="modelselectonchange(whichmodel.value)">
                                    <option value="yield">Yield</option>
                                    <option value="yield_and_water">Yield and Water Used</option>
                                </select>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <label> Enter Farm or Field on the map <strong>OR</strong> select the relevant block in the drop down list </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <span class="input-group">
                            <!-- <label> Location </label>
                            &nbsp; &nbsp; -->
                            <div class="col-md-3">
                                <div *ngIf="datasetvalue == 'coimbatore'"> 
                                <select #location id="location" value="none"
                                    (change)="locationselectonchange(location.value)">
                                    <option value="none">Choose One</option>
                                    <option value="Annur LAT 11.208683721948772 LONG 77.06830325002399">Annur</option>
                                    <option value="CoimbatoreNorth LAT 11.111926486220208 LONG 76.90414872599392">Coimbatore North</option>
                                    <option value="CoimbatoreSouth LAT 10.965417823400522 LONG 76.90131850359182">Coimbatore South</option>
                                    <option value="Palladam LAT 10.97324609145801 LONG 77.28054276583296">Palladam</option>
                                    <option value="Sulur LAT 10.974205787107941 LONG 77.1508322348948">Sulur</option>
                                    <option value="TiruppurNorth LAT 11.003458218101585 LONG 77.43400503230717">Tiruppur North</option>
                                    <option value="TiruppurSouth LAT 11.10732392729669 LONG 77.35859213846898">Tiruppur South</option>
                                </select>
                                </div>
                                <div *ngIf="datasetvalue == 'lubbock'"> 
                                <select #location id="location" value="none"
                                    (change)="locationselectonchange(location.value)">
                                    <option value="none">Choose One</option>
                                    <option value="Abernathy LAT 33.8 LONG -101.8">Abernathy</option>
                                    <option value="Acuff LAT 33.6 LONG -101.6">Acuff</option>
                                    <option value="Becton LAT 33.8 LONG -101.7">Becton</option>
                                    <option value="Heckville LAT 33.7 LONG -101.7">Heckville</option>
                                    <option value="Lorenzo LAT 33.7 LONG -101.6">Lorenzo</option>
                                    <option value="NewDeal LAT 33.7 LONG -101.8">New Deal</option>
                                    <option value="NorthEastLubbock LAT 33.6 LONG -101.8">North East Lubbock</option>
                                    <option value="OrchardPark LAT 33.6 LONG -101.9">Orchard Park</option>
                                    <option value="Posey LAT 33.5 LONG -101.7">Posey</option>
                                    <option value="RansomCanyon LAT 33.5 LONG -101.6">Ransom Canyon</option>
                                    <option value="ReeseCenter LAT 33.6 LONG -102.1">Reese Center</option>
                                    <option value="Roosevelt LAT 33.6 LONG -101.7">Roosevelt</option>
                                    <option value="Ropesville LAT 33.4 LONG -102.1">Ropesville</option>
                                    <option value="Roundup LAT 33.8 LONG -102.1">Roundup</option>
                                    <option value="Shallowater LAT 33.8 LONG -102">Shallowater</option>
                                    <option value="Slaton LAT 33.4 LONG -101.6">Slaton</option>
                                    <option value="SouthEastLubbock LAT 33.5 LONG -101.8">South East Lubbock</option>
                                    <option value="Wolfforth LAT 33.5 LONG -102.1">Wolfforth</option>
                                    <option value="Woodrow LAT 33.4 LONG -101.8">Woodrow</option>   
                                </select>
                                </div>
                                <div *ngIf="datasetvalue == 'thanjavur'"> 
                                    <select #location id="location" value="none"
                                        (change)="locationselectonchange(location.value)">
                                        <option value="none">Choose One</option>
                                        <option value="budalur LAT 10.78177658687713 LONG 78.94168368107934">Budalur</option>
                                        <option value="thanjavur LAT 10.745497932699427 LONG 79.11916595973786">Thanjavur</option>
                                    </select>
                                </div>
                            </div>
                               
                    <div class="col-md-9">
                        <div>
                            <form class="form-inline">
                                <button (click)="clearMap($event)"> Clear Map </button>
                                &nbsp; &nbsp;
                                <button (click)="undolastpoint($event)">Undo Last Point</button>
                                &nbsp; &nbsp;
                            </form>     
                            <div id="map" class="map"> </div>
                        </div>
                    </div>
                    </span>

                </div>
                <!-- &nbsp; &nbsp;&nbsp; &nbsp; -->

            </div>
        </div>
    </div>
</div>
</div>
<!-- <div class="row" >
    <label> Enter Farm or Field on the map OR select the relevant block in the drop down list </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <div class="col-md-6">
                            <!-- <div *ngIf="usemap == true"> -->
<!-- <div id="map" class="map"> </div> -->
<!-- </div> -->
<!--</div>
</div>
</div>
</div>
</div>
</div>
</div> -->
<div class="row">
    <label> Enter Inputs </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <span class="input-group">
                            <div *ngIf="datasetvalue == 'coimbatore'">
                            <label> Variety</label>&nbsp; &nbsp;
                            <select #cultivar id="cultivar" value="none" (change)="cultivarselectonchange(cultivar.value)">
                                <option value="none">Choose One</option>
                                <option value="ADT43">ADT43</option>
                                <option value="ADT45">ADT45</option>
                                <option value="CO51">CO51</option>
                                <option value="ASD16">ASD16</option>
                                <option value="ADT36">ADT36</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            </div>
                            <div *ngIf="datasetvalue == 'lubbock'">
                            <label> Variety</label>&nbsp; &nbsp;
                            <select #cultivar id="cultivar" value="none" (change)="cultivarselectonchange(cultivar.value)">
                                <option value="none">Choose One</option>
                                <option value="Phytogen 350Ca1">Phytogen 350Ca1</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            </div>
                            <label> Planting Date</label>&nbsp; &nbsp;
                            <input type="date" id="pdate" name="pdate" value="2025-06-15" min="2025-05-15" max="2025-07-15" >
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Nitrogen Applied (default = 152 kg/ha)</label>
                                &nbsp; &nbsp;
                                <input type="number" id="n2applied" name="n2applied" value="152" min="-1" max="500">
                                &nbsp; &nbsp;&nbsp; &nbsp;
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <label> Choose Model </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">

                        <div class="col-md-6">
                            <!-- <input class="form-check-input" type="radio" name="NNRadio" id="NNRadio1"
                                value="NeuralNetwork" formControlName="neuralnetwork"
                                (change)="modelradiobuttonchange($event)" checked>
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="NNRadio1">
                                Neural Network
                            </label> -->
                            <!-- </div>
                            <div class="col-md-6"> -->
                            <!-- &NonBreakingSpace;&NonBreakingSpace; -->
                            <input class="form-check-input" type="radio" name="NNRadio" id="NNRadio2"
                                value="RandomForest" formControlName="randomforest"
                                (change)="modelradiobuttonchange($event)" checked>
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="NNRadio2">
                                Holos Custom ML model
                            </label>
                        </div>
                        <!-- <span class="input-group">
                            <label> Neural Network Model </label>
                            &nbsp; &nbsp;
                            
                            &nbsp; &nbsp;&nbsp; &nbsp;

                            <label> Random Forest </label>&nbsp; &nbsp;
                             
                        </span>
                    -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <!-- <div *ngIf="resultReady == false"> -->
                        <input type="button" class="btn btn-primary" value="Predict" (click)="onSubmit()">
                        <!-- </div> -->
                        <!-- <div *ngIf="resultReady == true"> -->
                        <button type="button" class="btn btn-info float-end" data-bs-toggle="modal" data-bs-target="#resultModal">Check Result</button>
                        <!-- </div> -->
                        <!-- [disabled]="fileUpload.invalid"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <!-- <input type="button" class="btn btn-primary float-end" value="checkResult" (click)="checkResult()"> -->
                        <!-- <div class="mt-4 col-lg-6 float-end"> 
                            <a data-toggle="modal" data-target="#resultModal"  class="text-muted"> Check Result</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --> 
</div>
<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog"  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Prediction Results</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" >
                <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
        <div class="modal-body">
            Predicted Yield &nbsp; = &nbsp; &nbsp; {{predicted_yield}} &nbsp; kg/ha
            <br>
            <div *ngIf="datasetvalue == 'coimbatore' &&  modelvalue == 'yield_and_water'"> 
            Predicted Water Used &nbsp; = &nbsp; &nbsp; {{predicted_water_used}} &nbsp; mm
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Done</button> -->
        </div>
    </div>
  </div>
</div>