<!-- start page title -->

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Models </h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Models</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <label> Choose Validated Dataset </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <span class="input-group">
                            <label> Data Set </label>
                            &nbsp; &nbsp;
                            <select #dataset id="dataset" value="none" (change)="datasetselectonchange(dataset.value)">
                                <option value="none">Choose One</option>
                                <option value="coimbatore1">Coimbatore 1</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <div *ngIf="dataset.value == 'coimbatore1'">
                                This dataset consists of data from Coimbatore, TamilNadu. The crop is rice (multiple
                                varieties)
                                &nbsp; &nbsp;
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <label> Choose Location </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">

                        <div class="col-md-6">
                            <input class="form-check-input" type="radio" name="locRadio" id="locRadio1"
                                value="useblockname" formControlName="blockname"
                                (change)="locradiobuttonchange($event)" checked>
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="locRadio1">
                                Use District Block Name
                            </label>
                            <!-- </div> -->
                            <!--<div class="col-md-6"> -->
                            &NonBreakingSpace;&NonBreakingSpace;
                            <input class="form-check-input" type="radio" name="locRadio" id="locRadio2" value="usemap"
                                formControlName="usemap" (change)="locradiobuttonchange($event)">
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="locRadio2">
                                Use Map
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <label> Enter Farm or Field on the map <strong>OR</strong> select the relevant block in the drop down list </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <span class="input-group">
                            <!-- <label> Location </label>
                            &nbsp; &nbsp; -->
                            <div class="col-md-4">
                                <!-- <div *ngIf="useblockname == true"> -->
                                <select #location id="location" value="none"
                                    (change)="locationselectonchange(location.value)">
                                    <option value="none">Choose One</option>
                                    <option value="LAT 11.208683721948772 LONG 77.06830325002399">Annur</option>
                                    <option value="LAT 11.111926486220208 LONG 76.90414872599392">Coimbatore North</option>
                                    <option value="LAT 10.965417823400522 LONG 76.90131850359182">Coimbatore South</option>
                                    <option value="LAT 10.97324609145801 LONG 77.28054276583296">Palladam</option>
                                    <option value="LAT 10.974205787107941 LONG 77.1508322348948">Sulur</option>
                                    <option value="LAT 11.003458218101585 LONG 77.43400503230717">Tiruppur North</option>
                                    <option value="LAT 11.10732392729669 LONG 77.35859213846898">Tiruppur South</option>

                                </select>
                            </div>
                               
                    <div class="col-md-8">
                        <div>
                            <form class="form-inline">
                                <button (click)="clearMap($event)"> Clear Map </button>
                                &nbsp; &nbsp;
                                <button (click)="undolastpoint($event)">Undo Last Point</button>
                                &nbsp; &nbsp;
                            </form>     
                            <div id="map" class="map"> </div>
                        </div>
                    </div>
                    </span>

                </div>
                <!-- &nbsp; &nbsp;&nbsp; &nbsp; -->

            </div>
        </div>
    </div>
</div>
</div>
<!-- <div class="row" >
    <label> Enter Farm or Field on the map OR select the relevant block in the drop down list </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <div class="col-md-6">
                            <!-- <div *ngIf="usemap == true"> -->
<!-- <div id="map" class="map"> </div> -->
<!-- </div> -->
<!--</div>
</div>
</div>
</div>
</div>
</div>
</div> -->
<div class="row">
    <label> Enter Inputs </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <span class="input-group">
                            <label> Variety</label>&nbsp; &nbsp;
                            <select #cultivar id="cultivar" value="none" (change)="cultivarselectonchange(cultivar.value)">
                                <option value="none">Choose One</option>
                                <option value="ADT43">ADT43</option>
                                <option value="ADT45">ADT45</option>
                                <option value="CO51">CO51</option>
                                <option value="ASD16">ASD16</option>
                                <option value="ADT36">ADT36</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Planting Date</label>&nbsp; &nbsp;
                            <input type="date" id="pdate" name="pdate" value="2025-06-15" min="2025-05-15" max="2025-07-15" >
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <label> Choose Model </label>
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">

                        <div class="col-md-6">
                            <!-- <input class="form-check-input" type="radio" name="NNRadio" id="NNRadio1"
                                value="NeuralNetwork" formControlName="neuralnetwork"
                                (change)="modelradiobuttonchange($event)" checked>
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="NNRadio1">
                                Neural Network
                            </label> -->
                            <!-- </div>
                            <div class="col-md-6"> -->
                            <!-- &NonBreakingSpace;&NonBreakingSpace; -->
                            <input class="form-check-input" type="radio" name="NNRadio" id="NNRadio2"
                                value="RandomForest" formControlName="randomforest"
                                (change)="modelradiobuttonchange($event)" checked>
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="NNRadio2">
                                Holos Custom ML model
                            </label>
                        </div>
                        <!-- <span class="input-group">
                            <label> Neural Network Model </label>
                            &nbsp; &nbsp;
                            
                            &nbsp; &nbsp;&nbsp; &nbsp;

                            <label> Random Forest </label>&nbsp; &nbsp;
                             
                        </span>
                    -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <input type="button" class="btn btn-primary float-end" value="Predict" (click)="onSubmit()">
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#resultModal">Check Result</button>
                        <!-- [disabled]="fileUpload.invalid"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <!-- <input type="button" class="btn btn-primary float-end" value="checkResult" (click)="checkResult()"> -->
                        <!-- <div class="mt-4 col-lg-6 float-end"> 
                            <a data-toggle="modal" data-target="#resultModal"  class="text-muted"> Check Result</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --> 
</div>
<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog"  >
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Prediction Result</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" >
                <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
        <div class="modal-body">
            Predicted Yield &nbsp; = &nbsp; &nbsp; {{prediction_value}} &nbsp; kg/ha
        <br>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Done</button> -->
        </div>
    </div>
</div>
</div>