<!-- start page title -->

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18"> Soil & Water Conservation  </h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Soil & Water Conservation</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-md-6">
        <div class="card mini-stats-wid border-0">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1 ">
                        <p class="text-muted fw-medium"> <strong>Input Mode</strong> </p>
                        <!-- <label> Pre-Season </label> &nbsp; &nbsp;   -->
                        <input class="form-check-input" type="radio" name="choosepredictradio" id="choosepredictradio1"
                            (change)="predictradiobuttonchange($event)" value="Single" formControlName="single" >
                        &nbsp;
                        <label class="form-check-label" for="choosepredictradio1"> Single  </label> &nbsp; &nbsp;

                        <input class="form-check-input" type="radio" name="choosepredictradio" id="choosepredictradio2"
                            (change)="predictradiobuttonchange($event)" value="Multiple"
                            formControlName="multiple"> &nbsp;
                        <!-- formControlName="climate-change" [attr.disabled]="true"> &nbsp; -->
                        <label class="form-check-label" for="choosepredictradio2"> Multiple </label>&nbsp; &nbsp;

                        <!-- <input class="form-check-input" type="radio" name="chooseproductradio" id="chooseproductradio2"
                            (change)="radiobuttonchange3($event)" value="In-Season" formControlName="in-season"
                            [attr.disabled]="true"> &nbsp;
                        <label class="form-check-label" for="chooseproductradio2"> In-Season </label> &nbsp; &nbsp; -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
<hr>
@if(input_choice == 'single'){
  <div class="row">
    <label> <strong>Inputs</strong>  </label>
    <div class="col-md-10">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <span class="input-group">
                            <label> LCC</label>&nbsp; &nbsp;
                            <select #lcc id="lcc" value="none" (change)="lccselectonchange(lcc.value)">
                                <option value="none" selected>Choose One</option>
                                <option value="Arable">Arable</option>
                                <option value="Non-Arable">Non-Arable</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Soil Color</label>&nbsp; &nbsp;
                            <select #soilcolor id="soilcolor" value="none" (change)="soilcolorselectonchange(soilcolor.value)">
                                <option value="none" selected>Choose One</option>
                                <option value="Black">Black</option>
                                <option value="Lateritic">Lateritic</option>
                                <option value="Red">Red</option>
                                <option value="-">None</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Slope</label>&nbsp; &nbsp;
                            <select #slope id="slope" value="none" (change)="slopeselectonchange(slope.value)">
                                <option value="none" selected>Choose One</option>
                                <option value="lessthanone">less than 1</option>
                                <option value="1-3">1 - 3</option>
                                <option value="3-5">3 - 5</option>
                                <option value="5-10">5 - 10</option>
                                <option value="10-15">10 - 15</option>
                                <option value="15-25">15 - 25</option>
                                <option value="25-33">25 - 33</option>
                                <option value=">33">> 33</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Depth</label>&nbsp; &nbsp;
                            <select #depth id="depth" value="none" (change)="depthselectonchange(depth.value)">
                                <option value="none" selected>Choose One</option>
                                <option value="lessthan25">Less than 25</option>
                                <option value=">50"> > 50 </option>
                            </select>
                            <!-- &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Surface Texture</label>&nbsp; &nbsp;
                            <select #surf_text id="surf_text" value="none" (change)="surf_textselectonchange(surf_text.value)">
                                <option value="none">Choose One</option>
                                <option value="clayey">Clayey</option>
                                <option value="loamy">Loamy</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> SubSurface Texture</label>&nbsp; &nbsp;
                            <select #subsurf_text id="subsurf_text" value="none" (change)="subsurf_textselectonchange(surf_text.value)">
                                <option value="none">Choose One</option>
                                <option value="clayey">Clayey</option>
                                <option value="loamy">Loamy</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Gravel</label>&nbsp; &nbsp;
                            <select #gravel id="gravel" value="none" (change)="gravelselectonchange(surf_text.value)">
                                <option value="none">Choose One</option>
                                <option value="less or = 35">less or = 35</option>
                                <option value="> 35"> > 35 </option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Rainfall</label>&nbsp; &nbsp;
                            <select #rainfall id="rainfall" value="none" (change)="rainfallselectonchange(surf_text.value)">
                                <option value="none">Choose One</option>
                                <option value="less or = 750"> less or = 750</option>
                                <option value="750 - 950">750 - 950</option>
                                <option value="> 950"> > 950 </option>
                            </select> -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <!-- <label> Enter Inputs </label> -->
    <div class="col-md-10">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <span class="input-group">
                            <!-- <label> LCC</label>&nbsp; &nbsp;
                            <select #lcc id="lcc" value="none" (change)="lccselectonchange(lcc.value)">
                                <option value="none">Choose One</option>
                                <option value="arable">Arable</option>
                                <option value="nonarable">Non-Arable</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Soil Color</label>&nbsp; &nbsp;
                            <select #soilcolor id="soilcolor" value="none" (change)="soilcolorselectonchange(soilcolor.value)">
                                <option value="none">Choose One</option>
                                <option value="black">Black</option>
                                <option value="lateritic">Lateritic</option>
                                <option value="red">Red</option>
                                <option value="none">None</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Slope</label>&nbsp; &nbsp;
                            <select #slope id="slope" value="none" (change)="slopeselectonchange(slope.value)">
                                <option value="none">Choose One</option>
                                <option value="less than 1">less than 1</option>
                                <option value=" 1 - 3 ">1 - 3</option>
                                <option value=" 3 - 5 ">3 - 5</option>
                                <option value=" 5 - 10 ">5 - 10</option>
                                <option value=" 10 - 15 ">10 - 15</option>
                                <option value=" 15 - 25 ">15 - 25</option>
                                <option value=" 25 - 33 ">25 - 33</option>
                                <option value=" > 33">> 33</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Depth</label>&nbsp; &nbsp;
                            <select #depth id="depth" value="none" (change)="depthselectonchange(depth.value)">
                                <option value="none">Choose One</option>
                                <option value="less than 25">Less than 25</option>
                                <option value=" > 50 "> > 50 </option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp; -->
                            <label> Surface Texture</label>&nbsp; &nbsp;
                            <select #surf_text id="surf_text" value="none" (change)="surf_textselectonchange(surf_text.value)">
                                <option value="none" selected>Choose One</option>
                                <option value="Clayey">Clayey</option>
                                <option value="Loamy">Loamy</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> SubSurface Texture</label>&nbsp; &nbsp;
                            <select #subsurf_text id="subsurf_text" value="none" (change)="subsurf_textselectonchange(surf_text.value)">
                                <option value="none" selected>Choose One</option>
                                <option value="Clayey">Clayey</option>
                                <option value="Loamy">Loamy</option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Gravel</label>&nbsp; &nbsp;
                            <select #gravel id="gravel" value="none" (change)="gravelselectonchange(gravel.value)">
                                <option value="none" selected>Choose One</option>
                                <option value="lessorequalto35">less or = 35</option>
                                <option value=">35"> > 35 </option>
                            </select>
                            &nbsp; &nbsp;&nbsp; &nbsp;
                            <label> Rainfall</label>&nbsp; &nbsp;
                            <select #rainfall id="rainfall" value="none" (change)="rainfallselectonchange(rainfall.value)">
                                <option value="none" selected>Choose One</option>
                                <option value="lessorequalto750"> less or = 750</option>
                                <option value="750to950">750 - 950</option>
                                <option value=">950"> > 950 </option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
}
</div>
<div>
    @if(input_choice == 'multiple'){
        <div class="row">
            <!-- <form [formGroup]="UploadX" enctype="multipart/form-data"> -->
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <div class="card mini-stats-wid border-0">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <div class="text-muted fw-medium"><strong>Input CSV file</strong>  
                                            &nbsp;&nbsp;(format is: SLNO, LCC, Soil Color, Slope, Depth, Surface Texture, SubSurface Texture, Gravel, Rainfall)</div>
                                        <div class="col-md-6">
                                            <form [formGroup]="fileUpload" enctype="multipart/form-data">
                                                <br>
                                                <div class="form-group col-md">
                                                    <input type="file" id="upload-doc" class="form-control"
                                                        (change)="uploadFile($event)"
                                                        [accept]="['.CSV','.csv']">
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            <!-- </form> -->
        </div>
        <br>
    }
</div>

<div class="row">
    <!-- <label> Choose Model </label> -->
    <div class="col-md-12">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">

                        <div class="col-md-9">
                            <!-- <input class="form-check-input" type="radio" name="NNRadio" id="NNRadio1"
                                value="NeuralNetwork" formControlName="neuralnetwork"
                                (change)="modelradiobuttonchange($event)" checked>
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="NNRadio1">
                                Neural Network
                            </label> -->
                            <!-- </div>
                            <div class="col-md-6"> -->
                            <!-- &NonBreakingSpace;&NonBreakingSpace; -->
                            <input class="form-check-input" type="radio" name="NNRadio" id="NNRadio2"
                                value="RandomForest" formControlName="randomforest"
                                (change)="modelradiobuttonchange($event)" checked>
                            &NonBreakingSpace;&NonBreakingSpace;
                            <label class="form-check-label" for="NNRadio2">
                                Soil & Water Conservation AI model
                            </label>
                            &NonBreakingSpace;&NonBreakingSpace;
                            - Random Forest: Accuracy (Rsquared) = 97 %
                        </div>
                        <!-- <span class="input-group">
                            <label> Neural Network Model </label>
                            &nbsp; &nbsp;
                            
                            &nbsp; &nbsp;&nbsp; &nbsp;

                            <label> Random Forest </label>&nbsp; &nbsp;
                             
                        </span>
                    -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <hr>
     <div class="col-md-12 ">
        <div class="card mini-stats-wid border-0">
            <div class="card-body ">
                <div class="d-flex ">
                    <div class="flex-grow-1 ">
                        <table class="table">
                            <tr>
                                <td>
                        <!-- <div *ngIf="resultReady == false"> -->
                            <!-- <div class="col-md-4 "> -->
                            <input type="button" class="btn btn-primary" value="Suggest Treatment" (click)="onSubmit()">
                            <!-- </div> -->
                            <!-- </div> -->
                             </td>
                             <td>
                            <div *ngIf="resultReady == true">
                                <!-- <div class="col-md-4 "> -->
                            <!-- <input type="button" class="btn btn-primary" value="Suggest Treatment" (click)="onSubmit()"> -->
                            <!-- </div> -->
                                <!-- <div class="col-md-4 "> -->
                                    
                                <a 
                                     href="/assets/temp/predicted-values.csv"
                                        class="btn text-center"
                                        target="_blank"
                                        download="predicted_treatments.csv"
                                            >
                                        Download CSV
                                        </a>
                                        
                                        <!-- </div>
                                        <div class="col-md-4 "> -->
                                            </div>
                                            </td>
                                            <td>
                                            <div *ngIf="resultReady == true">
                                            
                            <button type="button" class="btn btn-info float-end" data-bs-toggle="modal" data-bs-target="#resultModal">View Result</button>
                            <!-- </div> -->
                             
                            </div>
                            </td>
                            </tr>
                            </table>
                        <!-- [disabled]="fileUpload.invalid"> -->
                    </div>
                </div>
            </div>
        </div>
     </div>    
</div>
<hr>
<div *ngIf="resultReady == true && input_choice == 'multiple'">
    <div class="row">
            <!-- <form [formGroup]="UploadX" enctype="multipart/form-data"> -->
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <div class="card mini-stats-wid border-0">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-grow-1">


                                        <div class="text-muted fw-medium"><strong>Corrected CSV file</strong>  
                                            &nbsp;&nbsp;(format is: SLNO, LCC, Soil Color, Slope, Depth, Surface Texture, SubSurface Texture, Gravel, Rainfall, Treatment)</div>
                                         <div class="col-md-6">
                                            <form [formGroup]="fileUpload" enctype="multipart/form-data">
                                                <br>
                                                <div class="form-group col-md">
                                                    <input type="file" id="upload-doc" class="form-control"
                                                        (change)="uploadFile2($event)"
                                                        [accept]="['.CSV','.csv']">
                                                </div>
                                            </form>

                                          </div>
                                        </div>


                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            <!-- </form> -->
     </div>
</div>

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog"  >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Result</h5>
              <!-- <button type="button" class="close" data-dismiss="modal" >
                  <span aria-hidden="true">&times;</span>
              </button> -->
          </div>
          <div class="modal-body">
            <!-- <h6 *ngFor="let row of predicted_treatment"><p>{{row}}</p></h6>  -->
            <table class="table">
    <thead>
        <tr>
            <th>LCC</th>
            <th>Soil Color</th>
            <th>Slope</th>
            <th>Depth</th>
            <th>Soil Texture</th>
            <th>Sub Soil Texture</th>
            <th>Gravel</th>
            <th>Rainfall</th>
            <th>Treatment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of predict_array">
            <!-- <td>{{items}}</td> -->
             <td *ngFor="let item of items">{{item}}</td>
        </tr>
        <!-- <tr *ngFor="let item of predicted_treatment">
            <ng-container *ngFor="let subItem of temp_array">
                <tr>
                    <td>{{ temp_array[0]}}</td>
                    <td>{{ soil_color }}</td>
                    <td>{{ slope }}</td>
                    <td>{{ depth }}</td>
                    <td>{{ surf_text }}</td>
                    <td>{{ subsurf_text}}</td>
                    <td>{{ gravel }}</td>
                    <td>{{ rainfall }}</td>
                    <td>{{ treatment }}</td>
                </tr>
            </ng-container>
        </tr> -->
    </tbody>
</table>
                
          <br>
          </div>
          <div class="modal-footer">
            <label> Correct Treatment </label>
                                    &nbsp; &nbsp;
                                    <input type="text" id="ctreatment" name="ctreatment" >
                                    &nbsp; &nbsp; &nbsp; &nbsp;
               <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="save_ctreatment()">Save Treatment</button>                     
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Done</button> -->
          </div>
      </div>
    </div>
</div>

